*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.site-head{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.site-head__image{
    margin-bottom: 29px;
}
.site-head__link {
    width: 100%;
    background-color: #fff;
    height: 85px;
    border: 2px solid #54410C;
    border-left: none;
    border-right: none;
    padding: 30px ;
    margin-bottom: 75px;
}
.site-head__list{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}
.site-head__item{
    list-style-type: none;
}
.site-head__list a{
    text-decoration: none;
    font-weight: 300;
    color:  #54410C;
}
.site-head__list a:hover{
    text-decoration: underline;
    color:  #54410C;
}
.site-head__page{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 65px;
}
.site-head__subject{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 28px;
}
.main__head{
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main__card{
    width: 540px;
    height: 635px;
    border: 2px solid #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main__img{
    margin-bottom: 22px;
}
.main__sub{
    margin-bottom: 12px;
}
.main__icon{
    margin-bottom: 23px;
}
.main__text{
    width: 430px;
    margin-bottom: 12px;
    text-align: left;
    color: #54410C;
}
.main__val{
    margin-bottom: 19px;
    font-size: 24px;
    font-weight: 300;
    color: #54410C;
}
.main__btn{
    font-size: 24px;
    width: 350px;
    height: 60px;
    background-color: #54410C;
    color: #fff;
    border: 1px solid #54410C;
}
.main__btn:hover{
    background-color: #fff;
    border: 2px solid #54410C;
    color: #54410C;
    transition: 0.5s;
}
.main__card3{
    margin-top: 60px;
}
.foot{
    display:flex;
    justify-content: center;
    margin-top: 60px;
}
.foot__img{
    width: 730px;
    height: 324px;
}
.footer{
    width: 100%;
    background-color: #322707;
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer__img{
    margin-top: 40px;
}
.footer__loc{
    margin-top: 44px;
}
.footer__links{
    margin-top: 44px;
    font-size: 18px;
    color: #fff;
}
.footer__aloqa a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    line-height: 28px;
    text-align: center;
}
.footer__link{
    padding-top:25px;
    text-align: center;
    background-color: #54410C;
    width: 544px;
    height: 101px;
}
.footer__links-tel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.end{
    width: 100%;
    height: 60px;
    background-color: black;
}
.end__sub{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
} 

@media (min-width:240px) and (max-width:420px){ 
    .container{
       max-width: 420px;
       width: 100%;
       margin: 0 auto;
    }
    .site-head{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.site-head__logo{
    width: 400px;
}
.site-head__image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-head__link {
    width: 400px;
   border: none;
   
}
.site-head__list{
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #54410C;
}
.site-head__item{
    
}
.site-head__list a{
    
}
.site-head__list a:hover{
    
}
.site-head__page{
   
}
.site-head__subject{
    
}
.main__head{
    
}
.main__card{
    
}
.main__img{
 
}
.main__sub{
 
}
.main__icon{

}
.main__text{

}
.main__val{

}
.main__btn{

}
.main__btn:hover{

}
.main__card3{

}
.foot{

}
.foot__img{

}
.footer{

}
.footer__img{

}
.footer__loc{

}
.footer__links{
   
}
.footer__aloqa a{

}
.footer__link{

}
.end{

}
.end__sub{

} 
}








